 
{{#each adverts}}
    <div class="box">
      <a href="/advert/{{ _id }}">
        <h4>{{title}}</h4>
        <p>{{description}}</p>
        <small>In {{location}} at {{creationDate}}</small>
      </a>
    </div> 
 {{/each}}
